*{
     margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* border: 1px solid rgb(255, 0, 0); */
}
#hm{
    background-image: url("new1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 188vh;
    
}
.cntr{
    background-color: violet;
    height: 41%;
    width: 21%;
}
.jv_cn{
    position: relative;
    left: 10%;
    top: 5%;
}
.htm_cn{
    position: relative;
    left: 10%;
    top: 10%;

}
.css_cn{
    position: relative;
    left: 60%;
    top: -77%;
}
.js_cn{
    position: relative;
    left: 60%;
    top: -72%;

}
#skl{
    height: 100vh;
    width: 188vh;
    background-color: aqua;
    /* z-index: 1; */
}
.skls{
    height: 40%;
    width: 20%;
    background-color: blueviolet;
    position:relative;
    /* border-radius: 25% 0 25% 0; */

}
.jva{
    /* left: 10%;
    top: 5%; */
    z-index: 1;
    border-radius: 25% 25% 0 25%;

}
.html{
    /* left: 10%;
    top: 10%; */
    z-index: 1;
    border-radius: 25% 0 25% 25% ;

}
.css{
    /* left: 60%;
    top: -75%; */
    z-index: 1;
    border-radius:  25% 25% 25% 0;


}
.js{
    /* left: 60%;
    top: -70%; */
    z-index: 1;
    border-radius: 0 25% 25% 25%;



}
a{
    text-decoration: none;
    text-align: center;
    display:block;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 7%;
}

a:hover{
    background-color: rgba(57, 12, 78, 0.5);
    color:white;
    
}
ul{
    list-style:none;
    width: 30%;
    padding: 0;
    background-color: rgba(184, 178, 187, 0.575);

}
a::first-letter{
    font-size:21px;
}
.nav{
    display: none;
    position:absolute;
    left: 20px;
    top: 25px;
    width: 70%;
}
.layer{
    background-color: red;
    padding: 1px;
    width: 20px;
    margin: 5px 0px 5px 0px;
}
#main{
position: absolute;
top:10px;
left: 20px;
}
.stky{
    position: sticky;
    top: 17px;
    z-index: 2;
}
/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */