#hm{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  h1 {
    font-size: 50px;
    letter-spacing: 7px;
    cursor:pointer;
    text-transform: uppercase;
  }
  
  h1 {
    padding: 64px;
    background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    animation: shine 3s infinite cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  
  @keyframes shine {
    100% {
      background-position: 600px;
    }
  }
*{
     margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
#hm{
    background: linear-gradient(-45deg,#ee7752,#e73c7e,#9581f4,#23a6d5,#23d5ab);
    animation: gradient 10s ease infinite;
    background-size:400% 400% ;
}
@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
#skl{
    height: 100vh;
    width: 100%;
    background: url(SKILLS.avif) no-repeat center;
    background-size:cover;
}
#co_cur{
    height: 100vh;
    width: 100%;
    background: url(cisco-sys.jpg) no-repeat center;
    background-size: cover;

}
.cisco{
    height: 80%;
    width: 80%;
    position:relative;
    padding-right: 20%;
    border-radius: 25% 25% 25% 25%;
    box-shadow: 0px 0px 2px 2px black, 0px 0px 50px ;
    background: url("") center no-repeat;
}
.tp {
    display:flex;
    height: 50%;
}
.bt{
    display: flex;
    height: 50%;
}
.outer_all{
    height: 100%;      /* 47*/
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tilt{
    height: 95%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
}

.skls {
    height: 80%;
    width: 80%;
    position:relative;
    padding-right: 20%;
    border-radius: 25% 25% 25% 25%;
    box-shadow: 0px 0px 2px 2px black, 0px 0px 50px ;


}
.jva{
    background: url("JAVA.jpg") no-repeat center;
    background-size: cover;
}
.html{
    background: url("hTmL.avif") no-repeat center;
    background-size: cover;
}
.js{
    background: url("JS.avif") no-repeat center;
    background-size: cover;   
}
.css{
    background: url("CSS.avif") no-repeat center;
    background-size: cover;   
}   
.prgrs {
    height: 80%;
    width: 82%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
}
.inner{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    box-shadow: 1px 1px 10px 0px rgb(0, 0, 0) inset;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 1px 1px 10px 0px rgb(0, 0, 0);
}
circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width:20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
}
 .J{
    animation: ani_J 2s linear forwards;
}
.H {
    animation: ani_H 2s linear forwards;
}
 .C{
    animation: ani_C 2s linear forwards;
}
 .jt{
    animation: ani_Jt 2s linear forwards;
}

svg{
    position: absolute;
}
@keyframes ani_J {
   100% {
    stroke-dashoffset: 283;           /*  472-472*40%  */
    } 
}
@keyframes ani_H {
    100% {
     stroke-dashoffset: 94;             /*  472-472*40%  */
     } 
 }
 @keyframes ani_C {
    100% {
     stroke-dashoffset: 141;            /*  472-472*40%  */
     } 
 }
 @keyframes ani_Jt {
    100% {  
     stroke-dashoffset: 330;             /*  472-472*40%  */
     } 
 }
a{
    text-decoration: none;
    text-align: center;
    display:block;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 7%;
}

a:hover{
    background-color: rgba(57, 12, 78, 0.5);
    color:white;
    
}
ul{
    list-style:none;
    width: 30%;
    padding: 0;
    background-color: rgba(184, 178, 187, 0.575);

}
a::first-letter{
    font-size:21px;
}
.nav{
    display: none;
    position:absolute;
    left: 20px;
    top: 25px;
    width: 70%;
}
.layer{
    background-color: red;
    padding: 1px;
    width: 20px;
    margin: 5px 0px 5px 0px;
}
#main{
position: absolute;
top:10px;
left: 20px;
}
.stky{
    position: sticky;
    top: 17px;
    z-index: 2;
}
