*{
     margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* border: 1px solid rgb(255, 0, 0); */
}
#hm{
    background-image: url("new1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 188vh;
    
}
body{

    /* margin-right: 20%; */

}
/* .cntr{
    background-color: violet;
    height: 41%;
    width: 21%;
} */
/* .jv_cn{
    position: relative;
    left: 10%;
    top: 5%;
}
.htm_cn{
    position: relative;
    left: 10%;
    top: 10%;

}
.css_cn{
    position: relative;
    left: 60%;
    top: -77%;
}
.js_cn{
    position: relative;
    left: 60%;
    top: -72%;

} */
#skl{
    height: 100vh;
    width: 188vh;
    background-color: rgb(0, 255, 255);
    /* z-index: 1; */
}
.skls{
    height: 40%;
    width: 20%;
    background-color: blueviolet;
    position:relative;
    /* padding-right: 20%; */
    /* border-radius: 25% 0 25% 0; */

}
.jva{
    left: 3%;
    top: 5%;
    /* padding: 10%; */
    z-index: 1;
    border-radius: 25% 25% 25% 25%;

}
.html{
    left: 3%;
    top: 10%;
    /* padding: 10%; */
    z-index: 1;
    border-radius: 25% 25% 25% 25% ;

}
.css{
    left: 53%;
    top: -75%;
    /* padding: 10%; */
    z-index: 1;
    border-radius:  25% 25% 25% 25%;
    /* margin-right: auto; */

}
.js{
    left: 53%;
    top: -70%;
    /* padding: 10%; */
    z-index: 1;
    border-radius: 25% 25% 25% 25%;
    /* margin-right:100%; */
}
.prgrs{
    height: 80%;
    width: 82%;
    position: relative;
    /* background-color:rgb(16, 2, 219); */
    left: 135%;
    top: 13%;
}
.inner{
    border-radius: 50%;
    height: 50%;
    width: 80%;
    position: relative;
    left: 10%;
    top: 10%;
    box-shadow: 1px 1px 10px 0px rgb(0, 0, 0) inset;

}
.outer{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 10px 0px rgb(0, 0, 0);
}
circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width:5%;
    position:relative;
    left: 0%;
}
svg{
    position: absolute;
    left: 0;
    top: 0;
}
a{
    text-decoration: none;
    text-align: center;
    display:block;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 7%;
}

a:hover{
    background-color: rgba(57, 12, 78, 0.5);
    color:white;
    
}
ul{
    list-style:none;
    width: 30%;
    padding: 0;
    background-color: rgba(184, 178, 187, 0.575);

}
a::first-letter{
    font-size:21px;
}
.nav{
    display: none;
    position:absolute;
    left: 20px;
    top: 25px;
    width: 70%;
}
.layer{
    background-color: red;
    padding: 1px;
    width: 20px;
    margin: 5px 0px 5px 0px;
}
#main{
position: absolute;
top:10px;
left: 20px;
}
.stky{
    position: sticky;
    top: 17px;
    z-index: 2;
}
/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */